@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: black;
  color: white;
  height: 100%;
}

pre {
  margin: 0;
  font-family: 'Anonymous Pro', monospace;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.input-menu {
  margin: 1rem;

  >.menu-option {
    >.key {
      display: inline;
      margin-right: 0.5rem;
      color: orange;

      &::before {
        content: '[';
      }

      &::after {
        content: ']';
      }
    }

    >.value {
      display: inline;
    }
  }
}
